*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:teal;
}
.header{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    font-family:'Papyrus' , sans-serif;
    background-color: teal;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
nav .logo{
    display: flex;
    align-items: left;
    font-size: 50px;
    font-weight: 100;
    color: 146356;
}
nav .logo img{
    width: 150px;
    margin-right: 10px;
}
nav .logo span{
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  white-space: nowrap;
}
<<<<<<< HEAD
.header ul{
  list-style: none;
  background: #663366;
  padding: 0;
  margin: 0;
  text-align: center;
  width: auto;
}
.header li{
  display: inline-block;
  float: left;
}
.header a
{
  text-decoration: none;
  color: #fff;
  width: 127px;
  display: block;
  padding: 26px 5px;
  font-size: :15px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  height: 50px;
}
.header a:hover{
  background: orange;
=======
nav ul li::after{
  background-color: #4CAF50; /* Green */
border: none;
color: rgb(255, 255, 255);
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;

}
nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-transform: uppercase;
}
.nav ul li:hover::after {
    width: 100%;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
     font-family: 'Playfair Display', serif;

}
row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
    color:white ;

}
.container{
    max-width: 1170px;
    margin:auto;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.social{
    position : right;
    /* left:82.85%; */
    margin-bottom: 70px;
    padding: 10px;
    
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color:#e91e63 ;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
    
}
@media (max-width:767px) {
    
>>>>>>> a9c1f205b8e39f8cf37e14adae8d266fe8ce32cc
}
