{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Psych Up</title>

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"> 
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@600&family=Sansita+Swashed:wght@300&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <!-- Background & animion & navbar & title -->
    
    <!-- <div class="header">
        <nav>
            <div class="logo">
                <img src="PsychUp.png">
                <span>PSYCHUP</span>
            </div>
            <div class="navlist">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Tracker</a></li>
                    <li><a href="#">Importance</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
                <div>
        </nav>
    </div> -->
    <!-- Background & animion & navbar & title -->
    
    <ul>
        <img src="{% static 'icon.png' %}" height="70px">
        <h1>Psych<span>U</span>p</h1>
        
        <li><a href="#news">News</a></li>
        <li><a href="register.html">Register</a></li>
        <li><a href=".footer-col">About</a></li>
        <li><a  href="#home">Home</a></li>
    </ul>
    <div class="container-fluid">
        <!-- Background animtion-->
        <div class="background">
            <div class="cube"></div>
            <div class="cube"></div>
            <div class="cube"></div>
            <div class="cube"></div>
            <div class="cube"></div>
        </div>

    <br><br><br><br><br><br><br><br><br>
    <div class="card">
        <div class="content">
            <h2>Psych Up</h2>
            <p>"One small crack does not mean that you are broken, it means that you were put to the test and you were put
                to the
                test and you didn't fall apart."-- Linda Poindexter</p>
            <!-- <p>We at PsychUP aim to highlight the important issue of mental health often ignored and help to work 
                    for people to track their behavioural patterns for a month long period and we give personalised
                    score on a weekly basis. We also provide recommendations regarding your symptoms, its cure and also suggest best 
                    doctors according to the severity of the issue. We also maintain anonymity of the user too if he/she is not comfortable 
                    sharing their personal details. </p> -->
            <a href="#">Read More</a>
        </div>
        <img src={% static 'man.png' %}>
    </div>  
    <br><br><br><br><br><br><br><br>
 <footer class="footer">
     <div class="container">
         <div class="row">
             <div class="footer-col">
                <h4>Contact Us:</h4>
                <br>
                
                    <p>E-Mail : xyz123@gmail.com</p>
                    <p>Mobile Number:9736271721</p>
                    <p>A691 , Hostel C </p>
                
                <p>Thapar Institute of Engineering and Technoloy</p>
                <p>Patiala , 147004</p>
                <p>Punjab</p>
             </div>
             <div class="footer-col"></div>
            <div class="footer-col"></div>
             <div class="footer-col">
                 <div class="social">
                <a id="icon" href="https://www.facebook.com"target="_blank" ><i class="fab fa-facebook-f icon-large"> </i></a>
                <a href="https://twitter.com"target="_blank"><i class="fab fa-twitter"> </i></a>
                <a href="https://www.instagram.com/"target="_blank"><i class="fab fa-instagram"> </i></a>
                <a href="https://www.linkedin.com"target="_blank"><i class="fab fa-linkedin-in"> </i></a>
                    </div>
</div>
         </div>
     </div>
 </footer>
</body>

</html>










